@import '@/styles/common.scss';

.container {
  @include containerBg;
  @include MOBILE {
    padding-bottom: 0;
  }

  > .wrapper {
    position: relative;
    z-index: 2;
    @include wrapper;
    margin-top: 6.25rem;
    padding-bottom: 10rem;
    @include TABLET {
      padding: 0;
    }

    > .contents {
      background-color: #172533;
      padding: 5rem;
      border-radius: 2.5rem;
      @include MOBILE {
        padding: 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
      }

      > .title {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
        width: fit-content;
        @include gradientText;
      }
      > .desc {
        font-size: 2rem;
        color: white;
        margin-bottom: 5rem;
      }
      > .top {
        border-radius: 1.5rem;
        background: linear-gradient(0deg, #199ff4 0%, #5360f8 100%);
        padding: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
        @include MOBILE {
          padding: 2rem;
        }

        > img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          &.desktop {
            @include TABLET {
              display: none;
            }
          }
          &.tablet {
            display: none;
            @include TABLET {
              display: block;
            }
          }
        }
      }
      > .bottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;
        @include MOBILE {
          flex-direction: column;
        }

        > .left {
          width: 50%;
          @include MOBILE {
            width: 100%;
          }

          > .desc {
            color: white;
            font-size: 2rem;
            margin-bottom: 12.5rem;
            @include MOBILE {
              margin-bottom: 5rem;
            }
          }
          > .image {
            width: 100%;
            max-width: 600px;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;
            padding: 4rem;
            background: linear-gradient(0deg, #bedeff 0%, #a3a7ff 100%);
            @include TABLET {
              padding: 2rem;
            }
            @include MOBILE {
              max-width: 100%;
            }

            > .desc {
              font-size: 2rem;
              color: white;
              text-align: center;
              font-weight: 600;
            }
            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 1rem;
            }
          }
        }
        > .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 5rem;
          @include MOBILE {
            width: 100%;
          }

          > .image {
            width: 100%;
            max-width: 600px;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;
            padding: 4rem;
            &:first-of-type {
              background: linear-gradient(0deg, #ffdcd9 0%, #c7b2ff 100%);
            }
            &:last-of-type {
              background: linear-gradient(0deg, #9bc9ff 0%, #62aaf7 100%);
            }
            @include TABLET {
              padding: 2rem;
            }
            @include MOBILE {
              max-width: 100%;
            }

            > .desc {
              font-size: 2rem;
              color: white;
              text-align: center;
              font-weight: 600;
            }
            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}
