@import '@/styles/common.scss';

.container {
  @include wrapper;
  padding-top: 15rem;
  padding-bottom: 10rem;

  > .title {
    font-size: 4rem;
    font-weight: 600;
    width: fit-content;
    @include gradientText;
  }
  > .wrapper {
    margin-top: 3.75rem;

    > .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      grid-gap: 1.5rem;
      @include TABLET {
        grid-template-columns: repeat(2, 1fr);
      }
      @include MOBILE {
        grid-template-columns: repeat(1, 1fr);
        aspect-ratio: 2 / 5;
      }

      > li {
        position: relative;
        overflow: hidden;
        border-radius: 1.25rem;
        border: 4px solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        @include hover {
          background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #78beff 0%, #005099 100%);
          img {
            transform: scale(1.05);
          }
        }
        @include TABLET {
          &:last-of-type {
            display: none;
          }
        }
        @include MOBILE {
          &:last-of-type {
            display: block;
          }
        }

        > a {
          > .box {
            position: absolute;
            bottom: 2.5rem;
            left: 2.5rem;
            right: 2.5rem;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > .date {
              font-size: 1.25rem;
              color: white;
              font-weight: 600;
              border: 1px solid white;
              position: relative;
              width: fit-content;
              padding: 0.5rem 1rem;
              background-color: rgba(white, 0.1);
            }
            > .title {
              font-size: 2rem;
              color: white;
              font-weight: 600;
            }
          }
          > .dimmed {
            position: absolute;
            inset: 0;
            z-index: 1;
            background: linear-gradient(0deg, rgba(black, 0.5) 0%, transparent 100%);
          }
          > .image {
            width: 100%;
            height: 100%;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 1.5s;
            }
          }
        }
      }
    }
    > .box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
    }
  }
}
