@import '@/styles/common.scss';

.container {
  margin-top: 10rem;
  position: relative;

  > .wrapper {
    @include wrapper;

    > .title {
      font-weight: 600;
      font-size: 4rem;
      width: fit-content;
      @include gradientText;
    }
  }
  > .swipe {
    margin-top: 3.75rem;

    > .history {
      overflow: hidden;
      overflow-x: scroll;
      display: flex;
      gap: 4rem;
      margin-bottom: 30px;
      &::-webkit-scrollbar {
        display: none;
      }

      > li {
        min-width: 600px;
        flex-shrink: 0;
        position: relative;
        padding-left: 2.75rem;
        &:first-of-type {
          margin-left: 6.75rem;
        }
        &:last-of-type {
          padding-right: 6.75rem;
        }
        &::before {
          content: '';
          position: absolute;
          top: 20px;
          bottom: 0;
          z-index: 1;
          left: 0;
          width: 1px;
          background-color: white;
          mask: linear-gradient(0deg, transparent, white 40%, white 60%);
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -20px;
          width: 41px;
          height: 41px;
          background-color: white;
          border: 12px solid #0094ff;
          border-radius: 50%;
        }

        > .top {
          display: flex;
          align-items: center;
          gap: 1.25rem;

          > .years {
            width: fit-content;
            font-size: 2rem;
            font-weight: 600;
            @include gradientText;
          }
          > .summary {
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        > .list {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          list-style: disc;
          margin-top: 2rem;

          > li {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > .title {
              color: white;
              font-size: 1.25rem;
              white-space: pre-line;
              font-weight: bold;
              position: relative;
              padding-left: 1rem;
              &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                left: 0;
                top: 12px;
              }
            }
            > .image {
              width: 100%;
              max-width: 360px;

              > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            > .desc {
              font-size: 1.25rem;
              color: white;
              font-weight: 300;
            }
          }
        }
      }
    }
    > .controls {
      @include wrapper;

      > .scrollbar {
        height: 200px;
        position: relative;

        > .track {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          border-top: 1px dashed white;

          > .thumb {
            position: absolute;
            top: -24px;
            cursor: pointer;
            line-height: 0;
            border-radius: 50px;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            height: 48px;
            gap: 20px;
            @include gradientBg(45deg);
            > .button {
              color: white;
            }
          }
          > .text {
            padding-top: 40px;
            color: white;
          }
        }
      }
    }
  }
}
