@import '@/styles/common.scss';

.container {
  position: relative;
  z-index: 2;
  margin-top: 7.5rem;
  padding-bottom: 12.5rem;

  > .wrapper {
    position: relative;

    > .controls {
      @include TABLET {
        display: none;
      }
      > .button {
        position: absolute;
        top: 50%;
        z-index: 10;
        bottom: 0;
        color: white;
        background-color: transparent;
        transform: translateY(-50%);

        &.prev {
          left: 1rem;
        }
        &.next {
          right: 1rem;
        }
      }
    }
    > .flicking {
      > div {
        > .panel {
          width: 100%;
          margin-right: 24px;
          background-color: white;
          border-radius: 2.5rem;
          position: relative;
          max-width: min(1704px, calc(100vw - 13.5rem));
          &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
          }
          &.active {
            &::after {
              display: none;
            }
          }
          @include TABLET {
            max-width: 100%;
          }
        }
      }
    }
  }
}
