@import '@/styles/common.scss';

$maxWidth: min(1704px, calc(100vw - 13.5rem));

.container {
  position: relative;
  z-index: 2;
  margin-top: 7.5rem;
  padding-bottom: 12.5rem;

  > .wrapper {
    position: relative;
    @include TABLET {
      padding: 0 2rem;
    }

    > .controls {
      @include MOBILE {
        display: none;
      }
      > .button {
        position: absolute;
        top: 50%;
        height: 50%;
        z-index: 2;
        color: white;
        transform: translateY(-50%);
        background-color: transparent;
        width: calc((100vw - $maxWidth) / 2);
        &.prev {
          left: 0;
        }
        &.next {
          right: 0;
        }
        @include TABLET {
          color: #101010;
        }
      }
    }
    > .flicking {
      > div {
        > .panel {
          width: 100%;
          margin-right: 24px;
          background-color: white;
          border-radius: 2.5rem;
          position: relative;
          max-width: $maxWidth;
          &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 1;
          }
          &.active {
            &::after {
              display: none;
            }
          }
          @include TABLET {
            max-width: 100%;
            height: fit-content;
          }
        }
      }
    }
  }
}
