@import '@/styles/common.scss';

.container {
  margin-top: 15rem;

  > .title {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    @include gradientText;
  }
  > .desc {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  > .contents {
    margin-top: 4rem;
    display: flex;
    gap: 1.5rem;
    @include TABLET {
      flex-direction: column;
    }

    > * {
      width: 50%;
      @include TABLET {
        width: 100%;
      }

      &.left {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        > * {
          flex-grow: 1;
          background-color: black;
          border-radius: 1.5rem;
          padding: 4rem;
          @include MOBILE {
            padding: 2rem;
          }

          > .title {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            color: white;
          }
          > .row {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            @include MOBILE {
              flex-direction: column;
            }

            > li {
              display: flex;
              flex-direction: column;
              gap: 0.75rem;
              @include MOBILE {
                flex-direction: row;
                align-items: center;
              }

              > p {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1.5rem;
                border: 2px solid transparent;
                background-origin: border-box;
                background-clip: content-box, border-box;
                background-image: linear-gradient(black, black), linear-gradient(275deg, #78beff 0%, #005099 100%);

                > span {
                  font-size: 1.25rem;
                  font-weight: 600;
                  display: flex;
                  padding: 0 1.25rem;
                  align-items: center;
                  justify-content: center;
                  @include gradientText;
                }
              }
              > ul {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                @include MOBILE {
                  flex-direction: row;
                }

                > li {
                  color: white;
                  font-size: 1.125rem;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      &.right {
        background-color: #54687c;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5rem;
        @include TABLET {
          order: -1;
          background-color: transparent;
          padding: 0;
        }

        > .image {
          width: 100%;

          > img {
            width: 100%;
            height: auto;
            object-fit: cover;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
