@import '@/styles/common.scss';

.container {
  @include containerBg;
  @include MOBILE {
    padding-bottom: 0;
  }

  > .wrapper {
    position: relative;
    z-index: 2;
    @include wrapper;
    margin-top: 6.25rem;
    padding-bottom: 10rem;
    @include TABLET {
      padding: 0;
    }

    > .contents {
      background-color: #172533;
      padding: 5rem;
      border-radius: 2.5rem;
      @include MOBILE {
        padding: 5rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
      }

      > .top {
        > .title {
          margin-bottom: 5rem;
          font-size: 2.5rem;
          font-weight: 600;
          width: fit-content;
          @include gradientText;
        }
        > .image {
          width: 100%;
          height: 100%;
          &.desktop {
            @include TABLET {
              display: none;
            }
          }
          &.tablet {
            display: none;
            @include TABLET {
              display: block;
            }
          }

          > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
      > .center {
        margin-top: 5rem;
        display: flex;
        gap: 1.5rem;
        @include TABLET {
          flex-direction: column;
        }
        @include MOBILE {
          gap: 2rem;
        }

        > div {
          width: 33.3334%;
          background-color: rgba(black, 0.3);
          padding: 2.5rem;
          border-radius: 1.5rem;
          @include TABLET {
            width: 100%;
          }
          &.left {
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          &.right {
            @include TABLET {
              display: none;
            }
          }

          > .title {
            font-size: 2rem;
            font-weight: 600;
            @include gradientText;
          }
          > ul {
            display: flex;
            flex-direction: column;
            gap: 6px;

            > li {
              display: flex;
              align-items: center;
              gap: 24px;
              &.tablet {
                display: none;
                @include TABLET {
                  display: flex;
                }
              }

              > span {
                color: white;
                font-size: 1.125rem;
                width: 50%;
                &.bold {
                  font-size: 1.5rem;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      > .bottom {
        margin-top: 2.5rem;
        border-radius: 1.5rem;
        padding: 4rem;
        background-color: black;
        @include MOBILE {
          padding: 2rem;
        }
      }
    }
  }
}
