@import '@/styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3.75rem;
  width: 100%;
  overflow: hidden;

  > .list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: max-content;
    overflow: hidden;
    user-select: none;
    &.desktop {
      @include TABLET {
        display: none;
      }
    }
    &.tablet {
      display: none;
      @include TABLET {
        display: flex;
      }
    }
    &:nth-of-type(odd) {
      animation: scroll 50s reverse linear infinite;
      margin-left: 98px;
    }

    &:nth-of-type(even) {
      animation: scroll 50s linear infinite;
    }

    > li {
      background-color: white;
      border-radius: 6.25rem;
      padding: 1.25rem 2.5rem;

      > img {
        width: 15rem;
        height: 100%;
        object-fit: cover;

        @include TABLET {
          width: 10rem;
        }
      }
    }
  }
}

@keyframes scroll {
  100% {
    transform: translateX(calc(-50% - 1.5rem));
  }
}
