@import '@/styles/common.scss';

.container {
  position: relative;

  > .wrapper {
    @include wrapper;

    > .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 11.25rem 0 3.75rem;
      border-bottom: 1px solid white;
      gap: 1.5rem;
      @include MOBILE {
        padding: 60px 0;
        flex-direction: column;
      }

      > .box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &.hover {
          @include gradientHoverText(white);
          @include hover {
            svg {
              color: #0094ff;
            }
          }
        }

        > .text {
          color: white;
          font-size: 1.5rem;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 6px;

          @include TABLET {
            font-size: 1.25rem;
          }
          @include MOBILE {
            font-size: 1.125rem;
          }

          > svg {
            transition: color 0.5s ease-in-out;
          }
        }
        > .email {
          font-size: 4.25rem;
          font-weight: 600;
          color: white;
          @include TABLET {
            font-size: 2.625rem;
          }
          @include MOBILE {
            font-size: 2rem;
          }
        }

        > .addr {
          color: rgba(white, 0.6);
          font-size: 1.5rem;
          @include TABLET {
            font-size: 1.25rem;
          }
        }
        > .tel {
          font-size: 1.5rem;
          @include gradientHoverText(white);
          @include TABLET {
            font-size: 1.25rem;
          }
        }
      }
    }
    > .bottom {
      padding-top: 12.5rem;
      position: relative;
      cursor: none;
      @include MOBILE {
        padding-top: 6.25rem;
      }

      > .image {
        width: 100%;

        > img {
          width: 100%;
          height: auto;
        }
      }
      > .cursor {
        display: none;
        position: fixed;
        width: 11.25rem;
        height: 11.25rem;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 10;
        font-size: 1.25rem;
        font-weight: 600;
        color: white;
        visibility: hidden;
        pointer-events: none;
        @include gradientBg(180deg);

        &.visible {
          visibility: visible;
        }
      }
    }
  }

  > .noise {
    background-image: url('../../../public/assets/images/global/noise.png');
    position: absolute;
    inset: 0;
    z-index: -10;
    mix-blend-mode: overlay;
    isolation: isolate;
    &::before {
      content: '';
      background: linear-gradient(45deg, rgba(#005099, 1) 50%, rgba(black, 1) 100%);
      position: absolute;
      inset: 0;
      mix-blend-mode: overlay;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: white;
      z-index: -10;
      inset: 0;
      opacity: 0.25;
    }
  }
}
