@import '@/styles/common.scss';

.container {
  @include wrapper;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  gap: 1.5rem;
  padding-top: 2.5rem;
  transition: transform 0.2s;
  &.hide {
    transform: translateY(-100%);
  }

  > .logo {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;

    > img {
      width: 100%;
      height: auto;
    }
  }
  > .wrapper {
    flex: 1;
    max-width: 56.25rem;
    position: relative;

    > .gnb {
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 3.75rem;
      position: relative;

      > li {
        font-size: 1.125rem;
        font-weight: 600;
        user-select: none;
        cursor: pointer;
        padding: 1.5rem 0;
        @include hover {
          > .sub {
            visibility: visible;
            opacity: 1;
          }
        }
        > .link {
          background: linear-gradient(to right, black, black 33.33333%, #005099 66.66666%, #78beff);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 300% 100%;
          color: black;
          background-position: top left;
          transition: background-position 0.2s ease-in-out;
          @include hover {
            background-position: top left 100%;
          }
          &.active {
            background: linear-gradient(90deg, #005099 0%, #78beff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        > .sub {
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s;
          position: absolute;
          left: 50%;
          top: calc(100% + 8px);
          width: 80%;
          height: 100%;
          transform: translateX(-50%);
          background-color: rgba(white, 0.85);
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 1.25rem;

          > li {
            > .link {
              background: linear-gradient(to right, black, black 33.33333%, #005099 66.66666%, #78beff);
              background-clip: text;
              -webkit-text-fill-color: transparent;
              background-size: 300% 100%;
              color: black;
              background-position: top left;
              transition: background-position 0.2s ease-in-out;
              @include hover {
                background-position: top left 100%;
              }
              &.active {
                background: linear-gradient(90deg, #005099 0%, #78beff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  > .button {
    width: 3.875rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(white, 0.2);
    border-radius: 1.875rem;
    font-size: 1.125rem;
  }
}
